body {
  background-color: hotpink;
  width: 100%;
  margin: 0;
}

h1 {
  color: black;
}

p {
  color: black;
}

.bigbox {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}


.box {
  text-align: center;
  background-color: lightpink;
  padding: 30px;
  margin-left: 30%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 50%;
}


/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}


footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  color: white;
  display: block;
  clear: both;
  width: 100%;
  background-color: #db1e7d;
}
