body {
  display: flex;
  justify-content: center;
  background-color: hotpink;
  width: 100%
}

h1 {
  color: black;
}

p {
  color: black;
}

.bigbox {
  display: block;
  justify-content: center;
  width: 100%
  height: 100%;
}

.box {
  margin: 20px;
  display: block;
  text-align: center;
  background-color: lightpink;
  padding: 30px;
  width: 100%
}
